@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("www12.v1host.com") {

/* Aaron */
a[rel="Member:2749"]:before,
a[rel^="Member:2749"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A2749"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A3166") !important;
}

/* Adam Wheatley */
a[rel="Member:62279"]:before,
a[rel^="Member:62279"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A62279"]:before {
    background-image: url("https://www12.v1host.com/s/13.1.1.4685/css/images/no_avatar.png") !important;
}

/* Alison */
a[rel="Member:2751"]:before,
a[rel^="Member:2751"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A2751"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A49611") !important;
}

/* Alvaro Vargas */
a[rel="Member:63385"]:before,
a[rel^="Member:63385"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A63385"]:before {
    background-image: url("https://www12.v1host.com/s/13.1.1.4685/css/images/no_avatar.png") !important;
}


/* Alyn Merrill */
a[rel="Member:44681"]:before,
a[rel^="Member:44681"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A44681"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A71389") !important;
}

/* Angie Perkins */
a[rel="Member:53614"]:before,
a[rel^="Member:53614"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A53614"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A53628") !important;
}

/* Bill Hollinshead */
a[rel="Member:48223"]:before,
a[rel^="Member:48223"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A48223"]:before {
    background-image: url("https://www12.v1host.com/s/13.1.1.4685/css/images/no_avatar.png") !important;
}        
        
/* Brad Porter */
a[rel="Member:42072"]:before,
a[rel^="Member:42072"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A42072"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A42076") !important;
}

/* Brian Ray */
a[rel="Member:48222"]:before,
a[rel^="Member:48222"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A48222"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A48227") !important;
}


/* Brian Sullivan */
a[rel="Member:23491"]:before,
a[rel^="Member:23491"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A23491"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A48239") !important;
}


/* Bob */
a[rel="Member:20"]:before,
a[rel^="Member:20"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A20"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A1887") !important;
}

/* Carole Rivera */
a[rel="Member:63306"]:before,
a[rel^="Member:63306"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A63306"]:before {
    background-image: url("https://www12.v1host.com/s/13.1.1.4685/css/images/no_avatar.png") !important;
}


/* Chad Rader */
a[rel="Member:48221"]:before,
a[rel^="Member:48221"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A48221"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A69666") !important;
}


/* Cole */
a[rel="Member:2753"]:before,
a[rel^="Member:2753"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A2753"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A2754") !important;
}

/* Dang Dang */
a[rel="Member:36402"]:before,
a[rel^="Member:36402"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A36402"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A48282") !important;
}

/* Danny Nguyen */
a[rel="Member:52231"]:before,
a[rel^="Member:52231"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A52231"]:before {
    background-image: url("https://s3.amazonaws.com/uploads.hipchat.com/11887/39301/C3Ue0mNRjYbqKHX/danny.png") !important;
}

/* Daron */
a[rel="Member:2739"]:before,
a[rel^="Member:2739"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A2739"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A48242") !important;
}

/* Dave Cain */
a[rel="Member:2736"]:before,
a[rel^="Member:2736"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A2736"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A64366") !important;
}

/* Dave Harter */
a[rel="Member:10154"]:before,
a[rel^="Member:10154"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A10154"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A48238") !important;
}


/* David Stitzlein */
a[rel="Member:2738"]:before,
a[rel^="Member:2738"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A2738"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A3213") !important;
}


/* Eddie Wassef */
a[rel="Member:48994"]:before,
a[rel^="Member:48994"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A48994"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A52476") !important;
}

/* Eric Bramble */
a[rel="Member:41790"]:before,
a[rel^="Member:41790"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A41790"]:before {
    background-image: url("https://www.alkamitech.com/wp-content/uploads/2011/09/eric-180x180.jpg") !important;
}

/* Eric Montalvo */
a[rel="Member:7770"]:before,
a[rel^="Member:7770"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A7770"]:before {
    background-image: url("https://www12.v1host.com/s/13.1.1.4685/css/images/no_avatar.png") !important;
}

/* Gyorgy Bozoki */
a[rel="Member:42571"]:before,
a[rel^="Member:42571"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A42571"]:before {
    background-image: url("https://www12.v1host.com/s/13.1.1.4685/css/images/no_avatar.png") !important;
}

/* Hiroshi Miyazawa */
a[rel="Member:6761"]:before,
a[rel^="Member:6761"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A6761"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A6764") !important;
}

/* Ian Henehen */
a[rel="Member:13139"]:before,
a[rel^="Member:13139"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A13139"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A48283") !important;
}

/* Jami Moubry */
a[rel="Member:69829"]:before,
a[rel^="Member:69829"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A69829"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A70416") !important;
}

/* Jason Chilcoat */
a[rel="Member:3228"]:before,
a[rel^="Member:3228"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A3228"]:before {
    background-image: url("https://www12.v1host.com/s/13.1.1.4685/css/images/no_avatar.png") !important;
}

/* Jason P */
a[rel="Member:2741"]:before,
a[rel^="Member:2741"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A2741"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A3182") !important;
}

/* JD */
a[rel="Member:2740"]:before,
a[rel^="Member:2740"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A2740"]:before {
    background-image: url("https://www12.v1host.com/s/13.1.1.4685/css/images/no_avatar.png") !important;
}

/* Jen */
a[rel="Member:1869"]:before,
a[rel^="Member:1869"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A1869"]:before {
    background-image: url("https://trello-avatars.s3.amazonaws.com/0c0ab8abe11abffc4678cba6c82a8c0b/original.png") !important;
}

/* Jennifer Cagle */
a[rel="Member:53604"]:before,
a[rel^="Member:53604"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A53604"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A70512") !important;
}

/* Jerry Crow */
a[rel="Member:42915"]:before,
a[rel^="Member:42915"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A42915"]:before {
    background-image: url("https://www12.v1host.com/s/13.1.1.4685/css/images/no_avatar.png") !important;
}


/* Jimmy */
a[rel="Member:2750"]:before,
a[rel^="Member:2750"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A2750"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A71497") !important;
}

/* Joey */
a[rel="Member:1889"]:before,
a[rel^="Member:1889"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A1889"]:before {
    background-image: url("https://s3.amazonaws.com/uploads.hipchat.com/11887/39301/F7j7eqSPItvLnPe/10949f4.jpg") !important;
}

/* Julea Mashburn */
a[rel="Member:39613"]:before,
a[rel^="Member:39613"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A39613"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A48284") !important;
}

/* Justin Collins */
a[rel="Member:52774"]:before,
a[rel^="Member:52774"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A52774"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A61360") !important;
}

/* Kelly */
a[rel="Member:2743"]:before,
a[rel^="Member:2743"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A2743"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A3323") !important;
}

/* Ken Byrd */
a[rel="Member:13323"]:before,
a[rel^="Member:13323"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A13323"]:before {
    background-image: url("https://www12.v1host.com/s/13.1.1.4685/css/images/no_avatar.png") !important;
}

/* Kevin Asbury */
a[rel="Member:2742"]:before,
a[rel^="Member:2742"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A2742"]:before {
    background-image: url("https://s3.amazonaws.com/uploads.hipchat.com/photos/145810/3wp0ba4vonu9hxq_36.jpg") !important;
}

/* Kevin Gorlick */
a[rel="Member:5348"]:before,
a[rel^="Member:5348"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A5348"]:before {
    background-image: url("https://s3.amazonaws.com/uploads.hipchat.com/photos/356880/47q54wfz65iiip5_125.png") !important;
}

/* Kevin Wilson */
a[rel="Member:4025"]:before,
a[rel^="Member:4025"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A4025"]:before {
    background-image: url("https://www12.v1host.com/s/13.1.1.4685/css/images/no_avatar.png") !important;
}

/* Marina Casarez */
a[rel="Member:10869"]:before,
a[rel^="Member:10869"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A10869"]:before {
    background-image: url("https://www12.v1host.com/s/13.1.1.4685/css/images/no_avatar.png") !important;
}

/* Mittul */
a[rel="Member:2744"]:before,
a[rel^="Member:2744"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A2744"]:before {
    background-image: url("https://s3.amazonaws.com/uploads.hipchat.com/photos/226864/w5jlrqycr83o7nj_125.JPG") !important;
}

/* Pedro Garces */
a[rel="Member:42570"]:before,
a[rel^="Member:42570"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A42570"]:before {
    background-image: url("https://www12.v1host.com/s/13.1.1.4685/css/images/no_avatar.png") !important;
}

/* Phillip Goericke */
a[rel="Member:5599"]:before,
a[rel^="Member:5599"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A5599"]:before {
    background-image: url("https://www12.v1host.com/s/13.1.1.4685/css/images/no_avatar.png") !important;
}

/* Reggie Bradshaw */
a[rel="Member:58940"]:before,
a[rel^="Member:58940"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A58940"]:before {
    background-image: url("https://www12.v1host.com/s/13.1.1.4685/css/images/no_avatar.png") !important;
} 

/* Rob Silvie */
a[rel="Member:7771"]:before,
a[rel^="Member:7771"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A7771"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A7819") !important;
}

/* Sean Weadock */
a[rel="Member:15785"]:before,
a[rel^="Member:15785"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A15785"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A46314") !important;
}

/* Sergey Yasevich */
a[rel="Member:63307"]:before,
a[rel^="Member:63307"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A63307"]:before {
    background-image: url("https://www12.v1host.com/s/13.1.1.4685/css/images/no_avatar.png") !important;
}

/* Steve Hightower */
a[rel="Member:2745"]:before,
a[rel^="Member:2745"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A2745"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A4264") !important;
}

/* Tim Burga */
a[rel="Member:13324"]:before,
a[rel^="Member:13324"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A13324"]:before {
    background-image: url("https://www12.v1host.com/s/13.1.1.4685/css/images/no_avatar.png") !important;
}

/* Tim Couch */
a[rel="Member:50532"]:before,
a[rel^="Member:50532"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A50532"]:before {
    background-image: url("https://www12.v1host.com/s/13.1.1.4685/css/images/no_avatar.png") !important;
}

/* Tim Nestler */
a[rel="Member:2746"]:before,
a[rel^="Member:2746"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A2746"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A48233") !important;
}

    
/* Vera */
a[rel="Member:2747"]:before,
a[rel^="Member:2747"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A2747"]:before,
a.asset-changedby-link[rel="Member:2747"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A3203") !important;
}

/* Vince Matacale */
a[rel="Member:46485"]:before,
a[rel^="Member:46485"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A46485"]:before {
    background-image: url("https://www12.v1host.com/s/13.1.1.4685/css/images/no_avatar.png") !important;
}


/* Yang */
a[rel="Member:2748"]:before,
a[rel^="Member:2748"]:before,
a[href="/AlkamiTechnology/Member.mvc/Summary?oidToken=Member%3A2748"]:before {
    background-image: url("https://www12.v1host.com/AlkamiTechnology/Image.mvc/Show?imageOid=Image%3A3513") !important;
}

}